* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

:root {
  --secondcolor: #646f4c;
  --bgcolor: #1e1e1e;
  --spacer: 1.5rem;
}

body {
  background-color: black;
  font-family: "poppins", sans-serif;
  color: white;
  min-height: 5000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer) 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--secondcolor);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

.navbar .navbar-tag {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  font-style: italic;
}

.navbar .navbar-tag span {
  color: var(--secondcolor);
}

.navbar .navbar-nav a {
  color: white;
  margin: 0rem var(--spacer);
  display: inline-block;
  font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: var(--secondcolor);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--secondcolor);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

#humburger-menu {
  color: white;
  margin-left: var(--spacer);
  display: none;
}
/* hero */
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(Resource/heroBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom: 2px solid var(--secondcolor);
}

.hero-section .content {
  position: absolute;
  left: 1.5rem;
  bottom: 5rem;
  padding: 3.75rem 7%;
  margin: 0 1rem;
}

.hero-section .content h1 {
  font-size: 5rem;
}

.hero-section .content h1 span {
  color: var(--secondcolor);
  text-shadow: 0.3rem 0.4rem var(--bgcolor);
}

.hero-section .content p {
  font-weight: 100;
  font-size: 1.5rem;
}

.hero-section .content .btn {
  background-color: var(--bgcolor);
  color: white;
  font-size: var(--spacer);
  text-align: center;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: var(--spacer);
  transition: 0.2s linear;
}

.hero-section .content .btn:hover {
  transform: scale(1.1);
  color: var(--secondcolor);
  background-color: white;
}

.hero-section .content .btn:hover::after {
  transform: scale(1);
  transition: 0.3s;
}

/* about us */
.about-us .about-tag,
.class-section .class-tag,
.we-trainer .trainer-tag {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 12.5rem;
  padding: 0.5rem 0;
}

.about-us .about-tag h2,
.class-section .class-tag h2,
.we-trainer .trainer-tag h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.about-us .about-tag h2 span,
.class-section .class-tag h2 span,
.we-trainer .trainer-tag h2 span {
  color: var(--secondcolor);
}

.about-us .about {
  display: flex;
  margin: 3rem;
}

.about-us .about .about-img {
  flex: 1 1 45rem;
}

.about-us .about .about-img img {
  width: 100%;
}

.about-us .about .about-description {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about-us .about .about-description h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.about-us .about .about-description p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 0.8rem;
}

.about-us .about .about-description p span {
  color: var(--secondcolor);
}

.line1 {
  border-bottom: 1px solid var(--secondcolor);
  width: auto;
  margin-top: 6.25rem;
}

/* class */
.class-section .class-description h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 6rem 0rem 4rem;
}

.class-section .horizontal-scroll {
  width: 100%;
  overflow-x: scroll;
  scrollbar-color: transparent transparent;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.class-section .menu-class {
  display: flex;
  width: max-content;
  margin: 0rem 0.5rem;
  gap: 0.5rem;
}

.menu-class .menu-media {
  padding: 1.3rem;
}

.menu-class .menu-media img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.menu-class .menu-media p {
  margin-top: 1.5rem;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

/* TRAINER */
.trainer-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(Resource/backgroundnew.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.trainer-section .trainer-content {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.trainer-section .trainer-content p {
  font-size: 1.8rem;
  margin-top: -18rem;
}

.list .list-trainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  justify-content: center;
}

.list .list-trainer .menu-card {
  text-align: center;
  padding-bottom: 5rem;
}

.list .list-trainer .menu-card img {
border-radius: 50%;
width: 30%;
image-size: cover;
}


/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 780px) {
  html {
    font-size: 62.5%;
  }

  #humburger-menu {
    display: inline-block;
  }

  /* navbar */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 22.5rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bgcolor);
    display: block;
    margin: var(--spacer);
    padding: 0.5rem;
    font-size: var(--spacer);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* about */
  .about-us .about {
    flex-wrap: wrap;
  }

  .about-us .about img {
    object-fit: cover;
    object-position: center;
  }

  .about-us .about .about-description h3 {
    margin: 1rem;
    font-size: 1.8rem;
  }

  .about-us .about .about-description p {
    font-size: 1.6rem;
  }

  /* class */

  .class-section .menu-class {
    width: max-content;
  }
  .menu-class .menu-media {
    padding: 0.8rem;
  }

  .menu-class .men-media img {
    width: 100px;
    margin: auto;
  }

  .line1 {
    margin-top: 100px;
  }
}

/* mobile */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
